*.class
*.o
*.so
*.dll
*.exe
*.out

*.pyc
*.pyo
__pycache__

.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/

env/
venv/
ENV/
VENV/
.venv/

node_modules/
target/
bin/
obj/
*.tar.gz
*.rar
*.7z

.env
*.key
*.pem
*.p12
