# requirements.txt

# Libraries

keyboard
pyperclip

# Custom Modules (these are files you created, so they don't need to be listed in requirements.txt)
# colors
# port_scanner
# logo
# extra
#random
#datetime
#threading
#subprocess
#zipfile
#fileEncrypter